# Ignora node_modules
node_modules/
server/node_modules/

# Ignora dist gerado pelo build
dist/
server/dist/

# Ignora variáveis de ambiente
.env

# Ignora virtualenv (caso use Python em algum script)
venv/
