# Ignora node_modules
node_modules/
server/node_modules/

# Ignora dist gerado pelo build
dist/
server/dist/

# Ignora variáveis de ambiente
.env

# Ignora virtualenv (caso use Python em algum script)
venv/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
